<p id="notice"><%= notice %></p>

<div class="container">
  <h2 class="center">Reservations</h2>



  <div class="row" >
    <% @clients.each do |client| %>
      
        <p>Name: <%= client.name %></p>
        <p>Email: <%= client.email %></p>
        <p>Tel: <%= client.tel %></p>
        <p>Arrival Date: <%= client.start %></p>
        <p>Departure Date: <%= client.end %></p>
        <p>Number Of Rooms: <%= client.rooms %></p>
        <p>Number Of Adults: <%= client.adults %></p>
        <p>Other Details: <%= client.message %></p>
        <p><% link_to 'Show', client %></p>
        <p><% link_to 'Edit', edit_client_path(client) %></p>
        <p><%= link_to 'Delete', client, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        <br><br>
     
    <% end %>
  </div>
</div>

<br><br>

<% link_to '', new_client_path %>
